/*
Common
******************************/


.content {
    padding: 0;
    min-height: 100%;
    display: flex;
    justify-content: center;
}
html,
body{
    background-image: rgb(161, 163, 187);
    height: 100%;
}
.main-header{
    padding: 0;
    min-height: 100%;
    justify-content: center;
}
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
/*
Post
******************************/


.logo{
    height: 50px;
    width: 50px;
}
.title-icon{
    font-size: 40px;
    font-family:'Times New Roman', Times, serif;
    letter-spacing: 5px;
   font-weight: bold;
   background-color: #2a2a72;

   background-image: linear-gradient(315deg, #2a2a72 0%, #5ebff7 74%);
   color:transparent;
   -webkit-background-clip: text;
   position: fixed;
}

.post_form {
    padding-left: 20px;
    width: 100%;
    max-width: 600px;
    border-width: 3px;
    border-style: solid;
    border-image: 
    linear-gradient(
      to bottom, 
      rgba(83, 200, 255, 0.575), 
      rgba(0, 0, 0, 0)
    ) 1 100%;
    margin-top: 10%;
    
}

.post_form input[type=submit] {
    font-weight: bold;
    display: flex;
    align-items:center ;
    justify-content: center;
    width:30%;
    outline: none;
    font-family: inherit;
    font-size: 1em;
    box-sizing: border-box;
    border: none;
    border-radius: .3em;
    height: 2.75em;
    line-height: 2.5em;
    text-transform: uppercase;
    padding: 0 1em;
    background-color: #2a2a72;
    background-image: linear-gradient(315deg, #2a2a72 0%, #5ebff7 74%);
    border: none;
    color: rgb(255, 255, 255);
    text-shadow: 0 2px 2px rgb(255, 255, 255);
    cursor: pointer;
    transition: all .2s ease-in-out;
    background-size: 100% 100%;
    background-position:center;
  }
  .post_form input[type=submit]:hover{
  background-size: 150% 150%;
  background-color: #2a2a72;

   background-image: linear-gradient(315deg, #2a2a72 0%, #5ebff7 74%);
}

.post_form input[type=text]{
    width: 50%;
    height: 40px;
    margin-bottom: 20px;
    resize: none;
    border-radius: .3em;
    border: none;
    
   
    
}
.post_form textarea {
    width: 70%;
    margin: 0px;
    height: 91px;
    resize: none;
    border-radius: .3em;
    border: none;
}

.post_form input[type=file]{
    padding: 20px;
    display: block;
    width: 50vh;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    background-color: #2a2a72;

    background-image: linear-gradient(315deg, #2a2a72 0%, #5ebff7 74%);
    background-clip: padding-box;
    border: none;
    -webkit-appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}   


.posts ul {
    padding: 1;
    justify-content: center;

}
.posts li {
    display: flex;
    padding: 17px;
    border-bottom: 1px solid #ccc;
}

.posts li .usericon {
    flex-basis: 15%;
    background-color: #2a2a72;

   background-image: linear-gradient(315deg, #2a2a72 0%, #5ebff7 74%);
       color:transparent;
       -webkit-background-clip: text;
}

.posts li .name_body {
    flex-basis: 85%;
}

.posts li .name_body .name {
    font-family:'Times New Roman', Times, serif;
    letter-spacing: 5px;
   font-weight: bold;
   background-color: #2a2a72;

   background-image: linear-gradient(315deg, #2a2a72 0%, #5ebff7 74%);
   color:transparent;
   -webkit-background-clip: text;
}

.posts li .name_body .datetime {
    color: gray;
}

@media screen and (max-width: 500px) {
    .posts li .name_body .name {
        font-size: 28px;
    }
}
.ditch{
    height: 15px;
    border-top: 1px solid rgb(255, 255, 255);
    border-bottom: 1px solid rgb(255, 255, 255);
    background-color: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
    border-bottom: 1px solid rgb(173, 173, 173);
}
p{
    color: rgb(0, 0, 0);
}

#hover {
    background: #ffffff;
    padding: 6px;
    display: block;
    position: relative;
    float: right;
}

#hover:hover {
    background: transparent;
    
}



#popup {
    opacity: 0;
    position: absolute;
    top: 32px;
    background-color: #2a2a72;
    background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
    border: 1px solid transparent;
    border-radius: 6px;
    height: 0px;
    padding: 0 12px;
    overflow: hidden;
    -webkit-transition: all 500ms;
    transition: all 500ms;
}


#hover:hover #popup {
    padding: 12px 12px;
    height: auto;
    opacity: 1;
    border: 1px solid #ffffff;
}
.fa-ellipsis-h{
    color: rgb(0, 0, 0);
}

.likecount{
    color:#000000;
}
img .likeicon{
    color: red;
    height: 20px;
    width: 20px;
    padding-right: 10px;
}