/*
Common
******************************/


.content {
    padding: 0;
    min-height: 100%;
    display: flex;
    justify-content: center;
}
html,
body{
   background-color: rgb(0, 0, 0);
   height: 100%;
}
.main-header{
    padding: 0;
    min-height: 100%;
    justify-content: center;
}

/*
Post
******************************/


.logo{
    height: 50px;
    width: 50px;
}
.title-icon{
    font-size: 40px;
    font-family:'Times New Roman', Times, serif;
    letter-spacing: 5px;
   font-weight: bold;
   background-image: linear-gradient(
	to right,
	#462523 0,
       	#cb9b51 22%, 
	#f6e27a 45%,
	#f6f2c0 50%,
	#f6e27a 55%,
	#cb9b51 78%,
	#462523 100%
	);
   color:transparent;
   -webkit-background-clip: text;
}

.post_form {
    width: 100%;
    max-width: 600px;
    border-width: 3px;
    border-style: solid;
    border-image: 
    linear-gradient(
      to bottom, 
      rgba(255, 196, 0, 0.575), 
      rgba(0, 0, 0, 0)
    ) 1 100%;
    margin-top: 10%;
    
}

.post_form input[type=submit] {
    font-weight: bold;
    display: flex;
    align-items:center ;
    justify-content: center;
    width:30%;
    outline: none;
    font-family: inherit;
    font-size: 1em;
    box-sizing: border-box;
    border: none;
    border-radius: .3em;
    height: 2.75em;
    line-height: 2.5em;
    text-transform: uppercase;
    padding: 0 1em;
    box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(110,80,20,.4),
                inset 0 -2px 5px 1px rgba(139,66,8,1),
                inset 0 -1px 1px 3px rgba(250,227,133,1);
    background-image: linear-gradient(160deg, #a54e07, #b47e11, #fef1a2, #bc881b, #a54e07);
    border: 1px solid #a55d07;
    color: rgb(120,50,5);
    text-shadow: 0 2px 2px rgba(250, 227, 133, 1);
    cursor: pointer;
    transition: all .2s ease-in-out;
    background-size: 100% 100%;
    background-position:center;
  }
  .post_form input[type=submit]:hover{
  background-size: 150% 150%;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23),
                inset 0 -2px 5px 1px #b17d10,
                inset 0 -1px 1px 3px rgba(250,227,133,1);
  border: 1px solid rgba(165,93,7,.6);
  color: rgba(120,50,5,.8);
}

.post_form input[type=text]{
    width: 50%;
    height: 40px;
    margin-bottom: 20px;
    resize: none;
    border: solid #ccc;
    
   
    
}
.post_form textarea {
    width: 70%;
    margin: 0px;
    height: 91px;
    resize: none;
    border: solid #ccc;
}

.post_form input[type=file]{
    padding-top: 20px;
    display: block;
    width: 50vh;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #635d5d;
    background-color: rgb(0, 0, 0);
    background-clip: padding-box;
    border: 1px solid rgba(255, 196, 0, 0.575);
    -webkit-appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}   


.posts ul {
    padding: 1;
    justify-content: center;

}
.posts li {
    display: flex;
    padding: 17px;
    border-bottom: 1px solid #ccc;
}

.posts li .usericon {
    flex-basis: 15%;
    background-image: linear-gradient(
        to right,
        #462523 0,
               #cb9b51 22%, 
        #f6e27a 45%,
        #f6f2c0 50%,
        #f6e27a 55%,
        #cb9b51 78%,
        #462523 100%
        );
       color:transparent;
       -webkit-background-clip: text;
}

.posts li .name_body {
    flex-basis: 85%;
}

.posts li .name_body .name {
    font-family:'Times New Roman', Times, serif;
    letter-spacing: 5px;
   font-weight: bold;
   background-image: linear-gradient(
	to right,
	#462523 0,
       	#cb9b51 22%, 
	#f6e27a 45%,
	#f6f2c0 50%,
	#f6e27a 55%,
	#cb9b51 78%,
	#462523 100%
	);
   color:transparent;
   -webkit-background-clip: text;
}

.posts li .name_body .datetime {
    color: gray;
}

@media screen and (max-width: 500px) {
    .posts li .name_body .name {
        font-size: 28px;
    }
}
.ditch{
    height: 15px;
    border-top: 1px solid rgb(0, 0, 0);
    border-bottom: 1px solid rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
    border-bottom: 1px solid rgb(0, 0, 0);
}
p{
    color: white;
}

#hover {
    background: #000000;
    padding: 6px;
    display: block;
    position: relative;
    float: right;
}

#hover:hover {
    background: transparent;
    
}



#popup {
    opacity: 0;
    position: absolute;
    top: 32px;
    background: #fafafa;
    border: 1px solid transparent;
    border-radius: 6px;
    height: 0px;
    padding: 0 12px;
    overflow: hidden;
    -webkit-transition: all 500ms;
    transition: all 500ms;
}


#hover:hover #popup {
    padding: 12px 12px;
    height: auto;
    opacity: 1;
    border: 1px solid #eeeeee;
}
.fa-ellipsis-h{
    color: white;
}

.likecount{
    color:#eeeeee;
}
img .likeicon{
    color: red;
    height: 20px;
    width: 20px;
    padding-right: 10px;
}